body::before {
    display: block;
    content: '';
    height: 60px;
}
body{
    /* background-color: rgb(66, 64, 64); */
}
#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .news-input {
        width: 50%;
    }
}

.box-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

.box-card:hover .btn-animate {
    transform: scale(1.05);
}